html{
    font-family: 'Courier New', Courier, monospace;
}

.bargraph{
    width : 70%;
    margin-left : 0px;
}
.q1Header, .q2Header, .q3Header{
    text-align : center;
    font-size : 30px;
    margin-bottom: 25px;
}
table{
    width: 50%;
}
.From,.To{
    text-align: center;
    font-size: 24px;
}
.from_year_dropdown{
    width : 100%;
}

.to_year_dropdown{
    width : 100%;
}

.q1_bar_chart{
    display: inline-block;
    width : 70%
}
.q1_pie_chart{
    display: inline-block;
    width : 30%
}

.q2_graph{
	display: inline-block;
	width : 80%;
    overflow:auto;
}

/* #q2_bar_chart{
    overflow-y : 'scroll';
} */

.q2_graph_filters{
	display: inline-block;
	width : 20%;
	vertical-align : top;
}

.start{
	display : inline-block;
    margin : 0px 15px 15px 15px;
}

.end{
	display : inline-block;
    margin : 0px 15px 15px 15px;
}

#start, #end{
    width : 40%;
}

.filter, .sort_head{
    font-size: 20px;
}

#q2_radio{
    font-size: 20px;
    display: grid;
}

#q2_radio label{
    margin : 5px;
}

.industries_drop_text{
    display: inline-block;
    width: 10%;
    margin: 5px;
}

.industries_drop_down{
    display: inline-block;
    width: 30%;
    border: 20px;
    color: None;
}

.q3_first_div{
    margin-left: 2%;
    width: 100%;
}